
/* card */
.card1{
  position: absolute;
  
  box-shadow: 0 4px 8px 0 black;
  padding: 5px;
  transition: 0.3s;
  width: 30%;
  box-shadow: 0 2px 4px 0 black;
  border-radius: 5px;
  z-index: 900;
  background-color: white;
  border-style: inset;
  border-color: bisque;
  border-width: 3px;
  opacity: 90%;


}



#compcard{
  position:absolute;
  top: 50px; left: 100px;
}

#addcard{
  position:absolute;
  top: 450px; left: 100px;
}

.card1:hover {
  box-shadow: 0 8px 16px 0 black;
  }

/* container */
.container{
    padding: 2px 16px;
}


/* Compare title */
#comptitle{

}

/* Add title */
#addtitle{

}

/* Comp movie title */
.compmovie{
color: black;
}

/* Comp movie input box  */
.compmovie1{
  margin: 2%;

}

/* addmovie title */
.addmovie{
color: black;
}

/* addmovie input box */
.addmovie1{
margin: 2%;
}

/* Submit btn */
.submitbtn{

}

/* background */
.bckcard{
  height: 300px;
  width: 200px;
  position: absolute;
  border-style: inset;
  border-color: bisque;
  border-width: 3px;
}



