
/* card */
.card{
    box-shadow: 0 4px 8px 0 black;
    margin: 5px;
    padding: 5px;
  transition: 0.3s;
  width: 40%;
  box-shadow: 0 2px 4px 0 black;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 black;
  }

/* container */
.container{
    padding: 2px 16px;
}


/* Compare title */
#comptitle{

}

/* Add title */
#addtitle{

}

/* Comp movie title */
.compmovie{
color: blue;
}

/* Comp movie input box  */
.compmovie1{
  margin: 2%;

}

/* addmovie title */
.addmovie{
color: blue;
}

/* addmovie input box */
.addmovie1{
margin: 2%;
}

/* Submit btn */
.submitbtn{

}

